.container {
    margin: 0 auto;
    width: 800px !important;
    height: 700px;
    position: relative;
    background-image: url(/image/acceuil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 200px;
    margin: auto;
    color: white;
    padding-top: 250px;
}

#score{
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
}

#score a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

