
body{
  background: linear-gradient(to right, rgba(255,0,4,1) 0%,rgba(201,201,201,1) 48%,rgba(22,147,20,1) 100%);
}


#player1 {
            
    position: absolute;
    overflow: hidden;
}
#player2 {
    
    position: absolute;
    overflow: hidden;
}
#luigi {
    position: relative;
    width: 229px;
    height: 58px;
    top:-24px;
}

img {
    width: 800px;
    height: 750px;
}

.container {
    display : flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

#container-game{
    margin: 0 auto;
    width: 800px;
    position: relative;
}

#mario {
    position: relative;
    width: 229px;
    height: 60px;
    top:-54px;
}
#piece{
    width: 10px;
    height: 10px;
    position: absolute;
    top:0px;
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  /* SPINNING CIRCLE */
  
  #circle-border {
    width: 150px;
    height: 150px;
    left:75px;
    top:65px;
    padding: 3px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(0, 0, 0) 33%, rgb(255, 255, 255) 100%);
    animation: spin .8s linear 0s infinite;
    position: absolute;
    z-index: 11;
  }
  
  #circle-core {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 50%;
  }

  #attente{
      position: absolute;
      z-index: 10;
  } 
  #joueur1{
    color:white;
    position: absolute; 
  }
  #joueur2{
    color:white; 
    position: absolute;
    right: 0;
  }
    


  h2{
      color:white;
      position: absolute;
      top:275px;
      left:243px;
      z-index: 11;
  }
 #image-acceuil{
     position: absolute;
     z-index: 10;
 }
#player p{
    position: absolute;
    color: white;
    top:-14px;
    font-size: 11px;
}
.timer{
  font-size: 225px;
  position: absolute;
  left: 347px;
  top: 274px;
  color: white;
}

#findepartie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display : none;
  width : 300px;
  height: 400px;
  background: linear-gradient(to right, rgba(255,0,4,1) 0%,rgba(201,201,201,1) 48%,rgba(22,147,20,1) 100%);
  position: absolute;
  top: 100px;
  left: 250px;
  border-radius: 5Px;

}

.img-avatar{
  width: 70px;
  height: 120px;
}

#imageWinner img{
  width: 150px;
  height: 170px;
}

#score {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
}

#score a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#nameWinner {
  font-size: 30px;
  white-space: nowrap;
}

#avatar1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#avatar2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#name1{
  font-size: 30px;
}
#name2{
  font-size: 30px;

}



#compteur1{
  width: 70px;
  height: 70px;
  font-size: 60px;
  text-align: center;

}

#compteur2{
  width: 70px;
  height: 70px;
  font-size: 60px;
  text-align: center;

}